.cotizador{
	.wrap-content{
		max-width: 80%;
		margin:0 auto;
	}
	h2{
		color:$pink;
		font-family:'Source Sans Pro Light';
		font-size: 2rem;
		line-height: 3rem;
	}
	h4, h5{
		text-transform: uppercase;
		color:$gray;
		font-family: 'Source Sans Pro Semibold';
		line-height: 2.5rem;
	}
	.line-separator  + h4 {
		margin-left: $space *.2 $space*.1;
		letter-spacing: 1px;
		font-weight: 900;
	}
	.product-row{
		padding: $space*.2;
		overflow: auto;
		.product-image img{
			max-width: 128px;
		}
		.product-description{
			a{display: block; color:$gray;&:hover{color:$pink;}}
			span.name{ text-transform:uppercase;font-family: 'Source Sans Pro Semibold';}
			span.category{ text-transform:uppercase;font-family:'Source Sans Pro Light';}
		}
		.content{
			position:relative;
		}
		.content .delete{
			position: absolute;
			right: -35px;
			top: 50px;
			cursor:pointer;
			span{
				font-family: 'Source Sans Pro Semibold';
				color:$gray;
				&:hover{
					color:$pink;
				}
			}
		}
	}
	.product-row .content{
		.col13{
			@include col (1/3,$gutter:0);
			.product-image, .product-description{
				@include col (1/2,$gutter:0);
			}
		}
		.col23{
			@include col (2/3,$gutter:0);
		}
	}

	.size-container{
		table{
			td:first-child{
				padding:$space*.1;
				border:1px solid #f2f2f2;
				text-align: left;
				&:hover{
					background:none;
				}
				h5{
					line-height: 1.5rem;
				}
			}
			td{
				text-align: center;
				padding: 8.5px;
				border-top:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;border-right:1px solid #f2f2f2;
			}
			input{
				max-width: 35px;
				height: 35px;
				border:none;
				outline: none;
				text-align: center;
			}
			thead{
				td{
					color:$gray;
					font-family: 'Source Sans Pro Semibold';
					cursor:pointer;
					&:hover{
						background:#f2f2f2;
					}
				}
				.active,.active:hover{
					background: #e6e6e6;

				}
				

			}
		}
	}
}