/*wrap*/
.navMobile{
	display:none;
}
.wrap{

	//overflow: auto;
  	position: relative;
  	top:80px;

}

body.home .wrap{ top:0;}


/*.fixed{
	
	background:$white;
	-webkit-box-shadow: 0px 4px 18px 0px rgba(50, 50, 50, 0.68);
	-moz-box-shadow:    0px 4px 18px 0px rgba(50, 50, 50, 0.68);
	box-shadow:         0px 4px 18px 0px rgba(50, 50, 50, 0.68);
	.menu li a, .social-media li a{
		color:$gray;
	}
}*/

/*top header*/

.top-header {
  transition: all 0.01s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 3;
   background: url(../img/background-header.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .top{
	
	max-width: 1118px;
    margin: 0 auto;

    ul{
	  	width: 100%;
	  	display: -webkit-inline-flex; /* Safari */
		display: inline-flex;
		-webkit-flex-wrap: nowrap; /* Safari */
		flex-wrap:         nowrap;
		-webkit-justify-content: flex-end; /* Safari */
		justify-content:         flex-end;
		-webkit-align-items: center; /* Safari */
		align-items:         center;
		li{
			padding: 0 12px;
			color:$green;
			&:hover{
				color:$white;
			}
		}
  	}
  } 

  .navBar{

  	max-width: 95%;
  	margin:0 auto;

  	nav{
  		width: 100%;
  		display: -webkit-inline-flex; /* Safari */
  		display: inline-flex;
  		-webkit-flex-wrap: nowrap; /* Safari */
  		flex-wrap:         nowrap;
  		-webkit-justify-content: flex-end; /* Safari */
  		justify-content:         flex-end;
  		position:relative;
  		-webkit-align-items: center; /* Safari */
  		align-items:         center;
  		height: 100%;
  	}

  }
}

/*logo*/
.logo{
	position:absolute;
	left:0;
	padding: 20px 0;
    max-width: 8em;
	outline:none;
	img{
		width: 100%;
		transition: all 0.01s ease;
	}
}
/*inline ul*/
.menu,.social-media{
	padding-top: 20px;
	li{
		display: inline-block;
		cursor:pointer;
	}
}

/*menu*/
.menu{
	li{
		padding: 7px 20px;
		margin: 0 5px;
		transition: all .2s ease-in-out;
		a{
			font-family:'Franklin Gothic';
			text-transform: uppercase;
			color: $white;
			font-size: 1em;
			font-weight: 900;
			cursor:pointer;
			letter-spacing: 1px;
		}
		&:hover{
			background: white;
			a{
				color: $green;
			}
		}
	}
	.has-submenu{
		position:relative;
		.submenu{
			position: absolute;
		    background: #fff;
		    padding: 10px 25px 27px 25px;
		    left: 0;
		    top: 50px;
			li{
				background:$white;
				border-bottom:1px solid $green;
				width: 100%;
			    padding: 6px 0 6px 0;
			    margin: 0;
			    text-align: left;
			    cursor:pointer;
				a{
					color:$green;
				}
			}
		}
	}

}

/*slider*/
.slick-dotted.slick-slider{
	margin-bottom:0!important;
}
.slick-slide{
	outline:none;
}
.hero{

	div > img{
		z-index: -1;
	}
	.caption{
		position:absolute;
		top:calc(50% - 2rem);
		width: 100%;
		h1{
			font-family:'Source Sans Pro Light';
			text-transform: uppercase;
			color:$white;
			font-size: 3.5rem;
			margin-bottom: 10px;
			text-align: left;
			line-height: 5rem;
			span{
				font-family:'Open Sans Semibold';
				font-size: 3rem;

			}
		}
		h4{
			color:$light;
			font-family: 'Open sans bold';
			font-size: 2rem;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 2px;

		}
		p{
			text-align: left;
			color:$white;
			font-family: 'Karla Regular';
		}
		p + .space{
			@include spacer(.2);
		}
		.cotizar{
			padding: 5px 35px;
			background:transparent;
			margin-right: 10px;
		}
		.contactar{
			background:$blue;
		}
		

	}

	.slide-banner{position:relative;}
	.slide-banner.first{
		background:url('../img/friessen-slider-1.jpg')no-repeat center center;
		@include cover();
	}
	.slide-banner.second{
		background:url('../img/friessen-slider-2.jpg')no-repeat center center;
		@include cover();
	}
	.slide-banner.third{
		background:url('../img/slider-3.jpg')no-repeat center center;
		@include cover();
	}

	.slick-dots{
		bottom: 20px;
		right: 30px;
		text-align: right;
		li{
			width: 10px;
			height: 10px;
			button{
				width: 10px;
				height: 10px;
				border:1px solid $white;
			}
		}
		li.slick-active button{
			background: $green;
    		border-color: $green;
		}
	}
}

/*BOTON*/
.btn{
	border:2px solid $white;
	font-family: 'Karla Bold';
	color:$white;
	text-transform: uppercase;
	font-size: 1.6em;
    padding: 5px 20px;
    letter-spacing: .5px;
}

/*Content*/
.wrap-content{
	@include center(1160px);
}


/*images*/
.imgContainerCenter img{
	max-width:100%;
	display:block;
	margin:0 auto;
	
}


/*text*/

h1{
	color:$red;
	text-align:center;
	font-size:2.7rem;
	font-family:'Karla Bold';
	text-transform:uppercase;
	letter-spacing:1px;
	line-height:3rem;

}
h2{
	font-family: 'Karla Bold';
}

p{
	color:$gray;
	font-family:'Karla Regular';
	font-size:1.1rem;
	line-height:1.2em;
	text-align:center;
	
}
.rwd-line{
	display: block;
}
.text-right{
	text-align:right;
}
.line-separator{
	background:#E6E6E6;
	height:1px;
}
.right{
	text-align:right;
}
.left{
	text-align:left;
}
.wrap-content{
	.icon{ 
		text-align: center; 
		.imgContainerCenter{
			@include center(55px);
			margin-bottom: $space*.2;
		}
	}
}
.action{
	border:none;
	box-shadow:none;
	background:$red;
	color:$white;
	width: 100%;
	padding: 15;
	text-transform: uppercase;
	font-family: 'Karla Bold';
	font-size: 2rem;
}


.empty{
	color:transparent!important;
}

/*tag*/
span.tag{
	background:$pink;
	color:$white;
	font-family:'Source Sans Pro Semibold';
	padding: 0 $space*.06;
	text-transform:uppercase;
    font-size: 1rem;
    z-index:1;
}

span.light{
	color:$light;
}
span.white{
	color:$white;
}
/*watermark*/
.title-watermark{
	z-index: 0;
	position:absolute;
	h3{
		font-family:'Source Sans Pro Black';
		font-size: 12rem;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
}


/*product*/

.product{

	position:relative;
	transition: all .2s ease-in-out;

	.tag{
		position:absolute;
		left: $space*.1;
		top: $space*.1;
	}


	.product-description{

		background:$white;
		padding:$space*.1;
		text-align: center;
		color:$gray;
		text-transform: uppercase;

		a:hover{
			color:$pink;
		}
		span{
			display:block;
			line-height: 1.5rem;
		}
		.name{
			font-family:'Open Sans Semibold';

		}
		.category{
			font-family:'Open Sans';
		}
		
	}

	&:hover{
		transform: scale(1.3);
		-webkit-box-shadow: -4px 3px 63px -13px rgba(0,0,0,0.44);
		-moz-box-shadow: -4px 3px 63px -13px rgba(0,0,0,0.44);
		box-shadow: -4px 3px 63px -13px rgba(0,0,0,0.44);
	}

}

/*list colors*/
ul.colors{
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	width: 100%;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	li{
		padding: .3rem;
	}
	.color{
		img{
			border-radius:1em;
			max-width: 20px;
		}
	}
}


/*footer*/
footer{
	padding-top: $space*.5;
	background: url('../img/contacto-background.jpg');
	@include cover();
	.footerContainer{

		display: -webkit-inline-flex;
		display: inline-flex;
		width:100%;
		position:relative;

	}
	.col12{

		@include col(1/2,$gutter:0,$cycle:2);
	}

	.copy{
		position:absolute;
		left: 0;
		bottom:20px;
		width: 50%;
		text-align: right;
		padding-right:20px;
		p{
			font-family:'Myriad';
			text-align: right;
			padding-right: 20px;
    		font-size: .9rem;
		}
		
	}
	.contacto{
		max-width: 50%;
		border: 5px solid #a29f28;
		padding: 10% 0 5% 27.5%;
		border-bottom: none;

		.separator{
			background:$green;
			height: 1px;
			max-width: 90%;
			margin: $space*.1 0 $space*.3 0;
		}
		h3{
			color:#5b5b5f;
			font-family: 'Corbel Bold';
			font-size: 3rem;
			text-transform: uppercase;
		}
		span{
			font-family: 'Myriad';
    		letter-spacing: 1px;
			margin-bottom: $space * .05;
			display:block;
		}
	}
	.social-media li{
		padding:5px;
		i{
			color:#5b5b5f;
			font-size: 2rem;
			cursor:pointer;
			&:hover{
				color:$green;
			}
		}
	}
}
.clear{
	clear:both;
}

.border{
	border: 4px solid $green;
}

.header-image{
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    //background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 60vh;

	display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    h3{
    	font-size: 2.5rem;
    	color:$white;
    	text-transform: uppercase;
    	font-family:'Corbel Bold';
    }

}

.grid{
	height:100%;
	
	.grid-sizer,.grid-item{
		//@include col(1/4,$gutter:0);
		width:25%;
		img{
			max-width: 100%;
			width: 100%;
		}

	}
	.grid-item--width2{
		//@include col(1/2, $gutter:0);
		width:50%;
	}
	.grid-item--width3{
		//@include col(1/2, $gutter:0);
		width:75%;
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	@media screen and(max-width:480px){
		.grid-sizer,.grid-item{
			
			width:50%;
		}
		.grid-item--width2{
			//@include col(1/2, $gutter:0);
			width:100%;
		}
		.grid-item--width3{
			//@include col(1/2, $gutter:0);
			width:100%;
		}
		.fachaleta{
			width: 100%;
		}
	}
}
.center{
	text-align:center!important;
}
.space{
	height:100px;
}
.imgContainerRight img{
	display:block;
	margin-left:auto;
}
.justify{
	text-align:justify;
}