section.proyectos{
	//padding:150px 50px 50px 50px;
	h3{
		color:$white;
		text-transform: uppercase;
		font-family:'Corbel Bold';
		font-size: 3rem;
		letter-spacing: 3px;
		text-align: center;
	}
	.separator{
		height: 100px;
	}
	.proyectos_inner{
		display: inline-flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		.proyecto{
			width: 30%;
			margin-bottom:30px;
			a img{
				max-width: 100%;
				display: block;
				margin-bottom: 15px;
			}
			a h4{
				text-transform: uppercase;
				color:$green;
				letter-spacing: 2px;
				font-family:'Corbel Bold';
			}
		}
	}
}