extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/artexa/artexa-header.jpg);")
			img(src="img/marcas/artexa.png")
		.description
			p.center ARTEXA TILES representa a las mejores marcas a nivel internacional de recubrimientos porcelanicos y cerámicos de alta calidad como: Mirage, Marazzi, Gambarelli, Saloni, Margres y Onix.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/artexa/artexa-1.jpg")
			.col13
				img(src="img/marcas/artexa/artexa-2.jpg")
			.col13
				img(src="img/marcas/artexa/artexa-3.png")
			