extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/castel-header.png);")
			img(src="img/marcas/castel.png")
		.description
			p.center CASTEL es una empresa sumamente reconocida que pone a la disposición del consumidor una gran variedad de productos de calidad como; pisos porcelánicos y cerámicos, azulejos, piedra natural, grifería, cristales, lavabos, sanitarios, canceles y muebles de baño.
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/castel/Castel1.jpg")
			.col13
				img(src="img/marcas/castel/Castel2.jpg")
			.col13
				img(src="img/marcas/castel/Castel3.jpg")
			.col13
				img(src="img/marcas/castel/Castel4.jpg")
			.col13
				img(src="img/marcas/castel/Castel5.jpg")
			.col13
				img(src="img/marcas/castel/Castel6.jpg")
			.col13
				img(src="img/marcas/castel/Castel7.jpg")
			.col13
				img(src="img/marcas/castel/Castel8.jpg")
			.col13
				img(src="img/marcas/castel/Castel9.jpg")
		.space