extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/chosa/chosa-header.jpg);")
			img(src="img/marcas/chosa.png")
		.description
			p.center CHOSA es una empresa conocida por su extensa gama de productos: tejas de barro y concreto, adhesivos, selladores, impermeabilizantes, tejas rústicas y tejas de fibrocemento.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/chosa/chosa-1.jpg")
			.col13
				img(src="img/marcas/chosa/chosa-2.jpg")
			.col13
				img(src="img/marcas/chosa/chosa-3.jpg")
		