extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/friessen/friessen-header.jpg);")
			img(src="img/marcas/friessen.png")
		.description
			p Comercializadora Friessen es una empresa mexicana, con más de 40 años de presencia en el mercado nacional, poniendo a  tu alcance lo mejor en pisos de concreto con diferentes diseños y texturas, ideales para: banquetas, andadores, parques, patios, plazas cívicas, áreas peatonales, cocheras y escuelas.

		.gallery
			.col13
				img(src="img/marcas/friessen/friessen-1.jpg")
			.col13
				img(src="img/marcas/friessen/friessen-2.jpg")
			.col13
				img(src="img/marcas/friessen/friessen-3.jpg")
			.col13
				img(src="img/marcas/friessen/friessen-4.jpg")
			.col13
				img(src="img/marcas/friessen/friessen-5.jpg")
			.col13
				img(src="img/marcas/friessen/friessen-6.jpg")
			.col13
				img(src="img/marcas/friessen/friessen-10.jpg")
			.col13
				img(src="img/marcas/friessen/friessen-11.jpg")
			.col13
				img(src="img/marcas/friessen/friessen-12.jpg")
			