extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/darredi/darredi-header.jpg);")
			img(src="img/marcas/darredi.png")
		.description
			p.center D’ARREDI es una marca familiar, orgullosamente mexicana que mediante la innovación y funcionalidad de sus productos, logran un gran posicionamiento en el mercado de muebles para baño.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!

		.gallery
			.col13
				img(src="img/marcas/darredi/darredi-1.png")
			.col13
				img(src="img/marcas/darredi/darredi-2.jpg")
			.col13
				img(src="img/marcas/darredi/darredi-3.jpg")
			