extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/delta-breez/delta-breez-header.jpg);")
			img(src="img/marcas/delta-breez.png")
		.description
			p.center DELTA BREEZ es el mayor proveedor del mundo de fuentes de alimentación conmutadas y ventiladores sin escobillas DC, así como una fuente importante para “Las soluciones de administración de energía, componentes, pantallas visuales, automatización industrial, productos de red y soluciones de energía renovable.”
			br
			p.center Como líder mundial en electrónica de potencia, la misión de Delta es “Brindar soluciones energéticas innovadoras, limpias y eficientes para un mejor mañana.” Delta está comprometida con la protección del medio ambiente y ha implementado programas de reciclaje y gestión de residuos, la producción libre de plomo y verde por muchos años.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!  
		.gallery
			.col13
				img(src="img/marcas/delta-breez/delta-breez-1.jpg")
			.col13
				img(src="img/marcas/delta-breez/delta-breez-2.jpg")
			.col13
				img(src="img/marcas/delta-breez/delta-breez-3.jpg")
			