extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/delta/delta-header.jpg);")
			img(src="img/marcas/delta.png")
		.description
			p.center Empresa global líder en la unión americana con 60 años de experiencia en la fabricación de llaves y accesorios para uso residencial, hotelero e institucional. DELTA es garantía de calidad.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/delta/delta-1.jpg")
			.col13
				img(src="img/marcas/delta/delta-2.jpg")
			.col13
				img(src="img/marcas/delta/delta-3.jpg")
			