extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/dica/dica-header.jpg);")
			img(src="img/marcas/dica.png")
		.description
			p Dica es la marca líder en el mercado, respaldada por más de 15 años de experiencia que te ofrece la mayor calidad en solución hidráulica y ambientes de baño para el hogar con los precios más accesibles.
		.gallery
			.col11
				img(src="img/marcas/dica/dica-1.jpg")
			.col11
				img(src="img/marcas/dica/dica-2.jpg")
			.col11
				img(src="img/marcas/dica/dica-3.jpg")
			