extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/dune/dune-header.jpg);")
			img(src="img/marcas/dune.png")
		.description
			p DUNE es una empresa con una clara misión: ser únicos creando espacios originales. El diseño y la innovación en su amplia gama de productos cerámicos y mosaicos de materiales naturales han cimentado la marca hasta convertirla en un referente de estilo, valorado y reconocido a nivel internacional.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/dune/Dune1.jpg")
			.col13
				img(src="img/marcas/dune/Dune2.jpg")
			.col13
				img(src="img/marcas/dune/Dune3.jpg")
			.col13
				img(src="img/marcas/dune/Dune4.jpg")
			.col13
				img(src="img/marcas/dune/Dune5.jpg")
			.col13
				img(src="img/marcas/dune/Dune6.jpg")
			.col13
				img(src="img/marcas/dune/Dune7.jpg")
			.col13
				img(src="img/marcas/dune/Dune8.jpg")
			.col13
				img(src="img/marcas/dune/Dune9.jpg")
			.col13
				img(src="img/marcas/dune/Dune10.jpg")
			.col13
				img(src="img/marcas/dune/Dune11.jpg")
		