extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/gante/gante-header.jpg);")
			img(src="img/marcas/gante.png")
		.description
			p GANTE es una marca de porcelanatos, piedras naturales y mosaicos importados, enfocada al segmento comercial y residencial. Los productos de Pisos Gante son basados en diseños diferenciados alineados a las tendencias de interiorismo y arquitectónicas.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!

		.gallery
			.col13
				img(src="img/marcas/gante/Gante1.jpg")
			.col13
				img(src="img/marcas/gante/Gante2.jpg")
			.col13
				img(src="img/marcas/gante/Gante3.jpg")
			.col13
				img(src="img/marcas/gante/Gante4.jpg")
			.col13
				img(src="img/marcas/gante/Gante5.jpg")
			.col13
				img(src="img/marcas/gante/Gante6.jpg")
			.col13
				img(src="img/marcas/gante/Gante7.jpg")
			.col13
				img(src="img/marcas/gante/Gante8.jpg")
			.col13
				img(src="img/marcas/gante/Gante9.jpg")
			.col13
				img(src="img/marcas/gante/Gante10.jpg")
			.col13
				img(src="img/marcas/gante/Gante11.jpg")
			.col13
				img(src="img/marcas/gante/Gante12.jpg")

			