extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/geberit/geberit-header.jpg);")
			img(src="img/marcas/geberit.png")
		.description
			p.center GRUPO GEBERIT es el líder del mercado europeo en tecnología sanitaria con presencia global. Desde el momento de su creación en 1874, la empresa siempre ha sido pionera en el sector, estableciendo constantemente nuevas tendencias con sus soluciones de sistemas. Líderes en tanques de descarga a muro para sanitarios suspendidos y sistemas hidrosanitarios de alta tecnología Suiza.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!


		.gallery
			.col13
				img(src="img/marcas/geberit/geberit-1.jpg")
			.col13
				img(src="img/marcas/geberit/geberit-2.jpg")
			.col13
				img(src="img/marcas/geberit/geberit-3.jpg")
			