extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-category
		.header-image(style="background-image:url(./img/griferia-header.jpg);")
			h3 griferia
		.marcas-grid
			.col13
				a(href="./castel")
					.container
						img(src="img/marcas/castel.jpg").marca
						a(href="castel.html")
							img(src="img/marcas/castel.png").logo
			.col13
				a(href="./urrea")
					.container
						img(src="img/marcas/urrea.jpg").marca
						img(src="img/marcas/urrea.png").logo
			.col13
				a(href="./helvex")
					.container
						img(src="img/marcas/helvex.jpg").marca
						img(src="img/marcas/helvex.png").logo
			.col13
				a(href="./geberit")
					.container
						img(src="img/marcas/geberit.jpg").marca
						img(src="img/marcas/geberit.png").logo
			.col13
				a(href="./laufen-pro")
					.container
						img(src="img/marcas/laufen-pro.jpg").marca
						img(src="img/marcas/laufen-pro.png").logo
			.col13
				a(href="./victoria-albert")
					.container
						img(src="img/marcas/victoria-albert.jpg").marca
						img(src="img/marcas/victoria-albert.png").logo
			.col13
				a(href="./delta")
					.container
						img(src="img/marcas/delta.jpg").marca
						img(src="img/marcas/delta.png").logo
			.col13
				a(href="./delta-breez")
					.container
						img(src="img/marcas/delta-breez.jpg").marca
						img(src="img/marcas/delta-breez.png").logo
			.col13
				a(href="./qm-drain")
					.container
						img(src="img/marcas/qm-drain.jpg").marca
						img(src="img/marcas/qm-drain.png").logo
			.col13
				a(href="./rinnai")
					.container
						img(src="img/marcas/rinnai.jpg").marca
						img(src="img/marcas/rinnai.png").logo
			.col13
				a(href="./steamist")
					.container
						img(src="img/marcas/steamist.jpg").marca
						img(src="img/marcas/steamist.png").logo
			.col13
				a(href="./stiebel-eltron")
					.container
						img(src="img/marcas/stiebel-eltron.jpg").marca
						img(src="img/marcas/stiebel-eltron.png").logo
			