extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/helvex/helvex-header.jpg);")
			img(src="img/marcas/helvex.png")
		.description
			p.center Empresa Mexicana líder en la innovación de productos institucionales y residenciales para baño y cocina. HELVEX es garantía de calidad.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!

		.gallery
			.col13
				img(src="img/marcas/helvex/Helvex1.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex2.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex3.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex4.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex5.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex6.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex7.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex8.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex9.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex10.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex11.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex12.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex13.jpg")
			.col13
				img(src="img/marcas/helvex/Helvex14.jpg")
			