extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/jacuzzi/jacuzzi-header.jpg);")
			img(src="img/marcas/jacuzzi.png")
		.description
			p.center JACUZZI es el nombre que define la experiencia de las tinas de hidromasaje. Social y privado, divertido y relajante, los productos Jacuzzi® satisfacen por completo y te dejan con ganas de más.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/jacuzzi/jacuzzi-1.jpg")
			.col13
				img(src="img/marcas/jacuzzi/jacuzzi-2.jpg")
			.col13
				img(src="img/marcas/jacuzzi/jacuzzi-3.jpg")
			