extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/keramag/keramag-header.jpg);")
			img(src="img/marcas/keramag.png")
		.description
			p.center KERAMAG DESIGN refleja el compromiso de una marca consolidada en la creación de productos especiales. Las colecciones de baño son diseñadas para satisfacer los más exigentes requisitos, y son testimonio de una excepcional apreciación de los detalles. Representa una excelente estética, personalidad y calidad, así como el diseño atemporal que dura más que las tendencias modernas de corta duración.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!

		.gallery
			.col13
				img(src="img/marcas/keramag/keramag-1.jpg")
			.col13
				img(src="img/marcas/keramag/keramag-2.jpg")
			.col13
				img(src="img/marcas/keramag/keramag-3.jpg")
			