extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/lalur/lalur-header.jpg);")
			img(src="img/marcas/lalur.jpg")
		.description
			p LALUR es una empresa que ofrece una amplia oferta de productos de alta calidad, servicios y soluciones innovadoras para la construcción como productos de piso LVT, adhesivos para piso vinílico y nivelantes.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/lalur/lalur-1.jpg")
			.col13
				img(src="img/marcas/lalur/lalur-2.jpg")
			.col13
				img(src="img/marcas/lalur/lalur-3.jpg")
			