extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/lamosa/lamosa-header.jpg);")
			img(src="img/marcas/lamosa.png")
		.description
			p Productos vanguardistas de acuerdo a las tendencias del mercado, elaborados con tecnología “Full Definition”, que permite reproducir con gran fidelidad piedras, mármoles y maderas en su forma natural.
		.gallery
			.col13
				img(src="img/marcas/lamosa/lamosa-1.jpg")
			.col13
				img(src="img/marcas/lamosa/lamosa-2.jpg")
			.col13
				img(src="img/marcas/lamosa/lamosa-3.jpg")
		