extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/laufen-pro/laufen-pro-header.jpg);")
			img(src="img/marcas/laufen-pro.png")
		.description
			p.center Diseñar el baño como lugar para vivir: diseño, calidad y funcionalidad interactúan para exponer la personalidad de esta tradicional marca suiza, fabricante líder internacional. LAUFEN es garantía de calidad.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms! 

		.gallery
			.col13
				img(src="img/marcas/laufen-pro/Laufen1.jpg")
			.col13
				img(src="img/marcas/laufen-pro/Laufen2.jpg")
			.col13
				img(src="img/marcas/laufen-pro/Laufen3.jpg")
			.col13
				img(src="img/marcas/laufen-pro/Laufen4.jpg")
			.col13
				img(src="img/marcas/laufen-pro/Laufen5.jpg")
			.col13
				img(src="img/marcas/laufen-pro/Laufen6.jpg")
			.col13
				img(src="img/marcas/laufen-pro/Laufen7.jpg")
			.col13
				img(src="img/marcas/laufen-pro/Laufen8.jpg")
			.col13
				img(src="img/marcas/laufen-pro/Laufen9.jpg")
			.col13
				img(src="img/marcas/laufen-pro/Laufen10.jpg")
			