extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/mapei/mapei-header.jpg);")
			img(src="img/marcas/mapei.png")
		.description
			p MAPEI es una empresa dedicada a la fabricación de múltiples adhesivos, selladores y otros productos químicos para la instalación de revestimientos para pisos en la construcción comercial y residencial.
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!

		.gallery
			.col13
				img(src="img/marcas/mapei/mapei-1.jpg")
			.col13
				img(src="img/marcas/mapei/mapei-2.jpg")
			.col13
				img(src="img/marcas/mapei/mapei-3.jpg")
			