extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.marcas
		.header-image
			h3 Marcas
	section.marcas-grid
		.col15 
			a(href="./vitromex")
				.container
					img(src="img/marcas/vitromex.jpg").marca
					img(src="img/marcas/vitromex.png").logo
		.col15 
			a(href="./tendenzza")
				.container
					img(src="img/marcas/tendenzza.jpg").marca
					img(src="img/marcas/tendenzza.png").logo
		.col15 
			a(href="./total-shower")
				.container
					img(src="img/marcas/totalshower.jpg").marca
					img(src="img/marcas/totalshower.png").logo
		.col15 
			a(href="./urrea")
				.container
					img(src="img/marcas/urrea.jpg").marca
					img(src="img/marcas/urrea.png").logo
		.col15 
			a(href="./chosa")
				.container
					img(src="img/marcas/chosa.jpg").marca
					img(src="img/marcas/chosa.png").logo
		.col15 
			a(href="./lalur")
				.container
					img(src="img/marcas/lalur-1.jpg").marca
					img(src="img/marcas/lalur.jpg").logo
		.col15 
			a(href="./gante")
				.container
					img(src="img/marcas/gante.jpg").marca
					img(src="img/marcas/gante.png").logo
		.col15 
			a(href="./stona")
				.container
					img(src="img/marcas/stona.jpg").marca
					img(src="img/marcas/stona.png").logo
		.col15 
			a(href="./artexa")
				.container
					img(src="img/marcas/artexa.jpg").marca
					img(src="img/marcas/artexa.png").logo
		.col15 
			a(href="./castel")
				.container
					img(src="img/marcas/castel.jpg").marca
					a(href="castel.html")
						img(src="img/marcas/castel.png").logo
		.col15 
			a(href="./dune")
				.container
					img(src="img/marcas/dune.jpg").marca
					img(src="img/marcas/dune.png").logo
		.col15 
			a(href="./stiebel-eltron")
				.container
					img(src="img/marcas/stiebel-eltron.jpg").marca
					img(src="img/marcas/stiebel-eltron.png").logo
		.col15 
			a(href="./steamist")
				.container
					img(src="img/marcas/steamist.jpg").marca
					img(src="img/marcas/steamist.png").logo
		.col15 
			a(href="./rinnai")
				.container
					img(src="img/marcas/rinnai.jpg").marca
					img(src="img/marcas/rinnai.png").logo
		.col15 
			a(href="./helvex")
				.container
					img(src="img/marcas/helvex.jpg").marca
					img(src="img/marcas/helvex.png").logo
		.col15 
			a(href="./saniker")
				.container
					img(src="img/marcas/saniker.jpg").marca
					img(src="img/marcas/saniker.png").logo
		.col15 
			a(href="./perdura-stone")
				.container
					img(src="img/marcas/perdura-stone.jpg").marca
					img(src="img/marcas/perdura-stone.png").logo
		.col15 
			a(href="./plasbar")
				.container
					img(src="img/marcas/plasbar.jpg").marca
					img(src="img/marcas/plasbar.png").logo
		.col15 
			a(href="./orion")
				.container
					img(src="img/marcas/orion.jpg").marca
					img(src="img/marcas/orion.png").logo
		.col15 
			a(href="./darredi")
				.container
					img(src="img/marcas/darredi.jpg").marca
					img(src="img/marcas/darredi.png").logo
		.col15 
			a(href="./tau")
				.container
					img(src="img/marcas/tau.jpg").marca
					img(src="img/marcas/tau.png").logo
		.col15 
			a(href="./mextile")
				.container
					img(src="img/marcas/mextile.jpg").marca
					img(src="img/marcas/mextile.png").logo
		.col15 
			a(href="./niasa")
				.container
					img(src="img/marcas/niasa.jpg").marca
					img(src="img/marcas/niasa.png").logo
		.col15 
			a(href="./perdura")
				.container
					img(src="img/marcas/perdura-1.jpg").marca
					img(src="img/marcas/perdura.png").logo
		.col15 
			a(href="./mapei")
				.container
					img(src="img/marcas/mapei.jpg").marca
					img(src="img/marcas/mapei.png").logo
		.col15 
			a(href="./keramag")
				.container
					img(src="img/marcas/keramag.jpg").marca
					img(src="img/marcas/keramag.png").logo
		.col15 
			a(href="./geberit")
				.container
					img(src="img/marcas/geberit.jpg").marca
					img(src="img/marcas/geberit.png").logo
		.col15 
			a(href="./laufen-pro")
				.container
					img(src="img/marcas/laufen-pro.jpg").marca
					img(src="img/marcas/laufen-pro.png").logo
		.col15 
			a(href="./victoria-albert")
				.container
					img(src="img/marcas/victoria-albert.jpg").marca
					img(src="img/marcas/victoria-albert.png").logo
		.col15 
			a(href="./delta")
				.container
					img(src="img/marcas/delta.jpg").marca
					img(src="img/marcas/delta.png").logo
		.col15 
			a(href="./delta-breez")
				.container
					img(src="img/marcas/delta-breez.jpg").marca
					img(src="img/marcas/delta-breez.png").logo
		.col15 
			a(href="./qm-drain")
				.container
					img(src="img/marcas/qm-drain.jpg").marca
					img(src="img/marcas/qm-drain.png").logo
		.col15 
			a(href="./jacuzzi")
				.container
					img(src="img/marcas/jacuzzi.jpg").marca
					img(src="img/marcas/jacuzzi.png").logo
		.col15 
			a(href="./comercializadora-friessen.html")
				.container
					img(src="img/marcas/friessen.jpg").marca
					img(src="img/marcas/friessen.png").logo

		