extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/metalflu/metalflu-header.jpg);")
			img(src="img/marcas/metalflu.png")
		.description
			p Diseñar productos con materiales altamente resistentes a la corrosión, ejercer un alto control de calidad, para hacer llegar al cliente un producto altamente competitivo por su excelente precio, calidad, funcionalidad y durabilidad, elaborado con la más alta tecnología, son los valores centrales de METALFLU y la llave de su crecimiento.

		.gallery
			.col13
				img(src="img/marcas/metalflu/metalflu-1.jpg")
			.col13
				img(src="img/marcas/metalflu/metalflu-2.jpg")
			.col13
				img(src="img/marcas/metalflu/metalflu-3.jpg")
			