extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/mextile/mextile-header.jpg);")
			img(src="img/marcas/mextile.png")
		.description
			p MEXTILE es una empresa dedicada a la fabricación de materiales relacionados con la construcción cuyo principal producto son las tejas de concreto, tejas que se fabrican con los más altos estándares de calidad y bajo estrictas técnicas de fabricación.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/mextile/mextile-1.jpg")
			.col13
				img(src="img/marcas/mextile/mextile-2.jpg")
			.col13
				img(src="img/marcas/mextile/mextile-3.jpg")
			