extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-category
		.header-image(style="background-image:url(img/categorias/mosaicos-header.jpg);")
			h3 Mosaicos
		.marcas-grid
			.col13
				a(href="./comercializadora-friessen.html")
					.container
						img(src="img/marcas/friessen.jpg").marca
						img(src="img/marcas/friessen.png").logo
			