extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-category
		.header-image(style="background-image:url(./img/muebles_bano-header.png);")
			h3 muebles de baño
		.marcas-grid
			.col13
				a(href="./tendenzza")
					.container
						img(src="img/marcas/tendenzza.jpg").marca
						img(src="img/marcas/tendenzza.png").logo
			.col13
				a(href="./castel")
					.container
						img(src="img/marcas/castel.jpg").marca
						a(href="castel.html")
							img(src="img/marcas/castel.png").logo
			.col13
				a(href="./total-shower")
					.container
						img(src="img/marcas/totalshower.jpg").marca
						img(src="img/marcas/totalshower.png").logo
			.col13
				a(href="./urrea")
					.container
						img(src="img/marcas/urrea.jpg").marca
						img(src="img/marcas/urrea.png").logo
			.col13
				a(href="./orion")
					.container
						img(src="img/marcas/orion.jpg").marca
						img(src="img/marcas/orion.png").logo
			.col13
				a(href="./darredi")
					.container
						img(src="img/marcas/darredi.jpg").marca
						img(src="img/marcas/darredi.png").logo
			.col13
				a(href="./helvex")
					.container
						img(src="img/marcas/helvex.jpg").marca
						img(src="img/marcas/helvex.png").logo
			.col13
				a(href="./keramag")
					.container
						img(src="img/marcas/keramag.jpg").marca
						img(src="img/marcas/keramag.png").logo
			.col13
				a(href="./victoria-albert")
					.container
						img(src="img/marcas/victoria-albert.jpg").marca
						img(src="img/marcas/victoria-albert.png").logo
