extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/niasa/niasa-header.jpg);")
			img(src="img/marcas/niasa.png")
		.description
			p Marca que dedica sus esfuerzos a la innovación, producción y comercialización de productos que satisfagan las necesidades técnicas de cualquier tipo de obra. NIASA tiene para ti los mejores productos para la construcción y remodelación con sus exclusivas líneas de Adhesivos, Emboquilladores, Aditivos, Epóxicos, Acabados, Morteros Especializados, Impermeabilizantes, Selladores e Impregnantes.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!

		.gallery
			.col13
				img(src="img/marcas/niasa/niasa-1.jpg")
			.col13
				img(src="img/marcas/niasa/niasa-2.jpg")
			.col13
				img(src="img/marcas/niasa/niasa-3.jpg")
			