extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/orion/orion-header.jpg);")
			img(src="img/marcas/orion.png")
		.description
			p ORION es una marca de sanitarios y lavabos de gran prestigio en el mercado por su alta calidad, diseño innovador, tecnología hidráulica y amplitud de oferta. La innovación y diseño de sus sanitarios y lavabos son apreciados nacional e internacionalmente.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!

		.gallery
			.col13
				img(src="img/marcas/orion/orion-1.jpg")
			.col13
				img(src="img/marcas/orion/orion-2.jpg")
			.col13
				img(src="img/marcas/orion/orion-3.jpg")
			