extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/perdura/perdura-header.jpg);")
			img(src="img/marcas/perdura.jpg")
		.description
			p Empresa que orienta sus esfuerzos a la entrega de productos de calidad que satisfagan los más altos requerimientos de todos sus clientes. ADHESIVOS PERDURA te ofrece una gran variedad de adhesivos y productos ideales para la instalación de cualquier tipo de recubrimiento.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!


		.gallery
			.col13
				img(src="img/marcas/perdura/perdura-1.jpg")
			.col13
				img(src="img/marcas/perdura/perdura-2.jpg")
			.col13
				img(src="img/marcas/perdura/perdura-3.jpg")
			