extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/perdura-stone/perdura-stone-header.jpg);")
			img(src="img/marcas/perdura-stone.png")
		.description
			p PERDURA STONE es una empresa 100% mexicana con amplia experiencia en la elaboración de piedra decorativa, ofreciendo diferentes posibilidades de decoración para hacer de cualquier espacio el lugar más agradable y sofisticado.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/perdura-stone/Perdurastone1.jpg")
			.col13
				img(src="img/marcas/perdura-stone/Perdurastone2.jpg")
			.col13
				img(src="img/marcas/perdura-stone/Perdurastone3.jpg")
			