extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/plasbar/plasbar-header.jpg);")
			img(src="img/marcas/plasbar.png")
		.description
			p.center Empresa mexicana con más de 50 años en el mercado de sistemas de hidromasaje cuya misión es crear experiencias de bienestar. Con reconocido prestigio nacional e internacional, PLASBAR incorpora los avances tecnológicos en sistemas de hidromasaje de acuerdo a las tendencias mundiales en diseño y calidad.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!


		.gallery
			.col13
				img(src="img/marcas/plasbar/plasbar-1.jpg")
			.col13
				img(src="img/marcas/plasbar/plasbar-2.jpg")
			.col13
				img(src="img/marcas/plasbar/plasbar-3.jpg")
			