extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/proyecta/proyecta-header.jpg);")
			img(src="img/marcas/proyecta.png")
		.description
			p Los productos que conforman a PROYECTA son de primera calidad; fabricados 100% de latón por Helvex, poseen una garantía de 10 años en sus acabados y están disponibles en todo Mexico a través de su extensa red de distribuidores.<br>Los diseños de sus líneas de llaves y accesorios son una propuesta de estilo vanguardista para el cuarto de baño, lo que ha permitido su gran aceptación y demanda por clientes que buscan alta calidad y diseño a un precio accesible.

		.gallery
			.col13
				img(src="img/marcas/proyecta/proyecta1.jpg")
			.col13
				img(src="img/marcas/proyecta/proyecta2.jpg")
			.col13
				img(src="img/marcas/proyecta/proyecta3.jpg")
			