extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/qm-drain/qm-drain-header.jpg);")
			img(src="img/marcas/qm-drain.png")
		.description
			p.center QM es una empresa que va por encima de los estándares de la industria, ofreciendo desagües magistralmente diseñados y hechos totalmente de alta calidad de Acero Inoxidable Marino 316.
			br
			p.center Con cinco patrones únicos, además de la opción de insertar azulejo u otro material para la superficie, le permite hacer su diseño realidad. Contamos con coladeras de diseño cuadrado y líneal.  
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/qm-drain/qm-drain-1.jpg")
			.col13
				img(src="img/marcas/qm-drain/qm-drain-2.jpg")
			.col13
				img(src="img/marcas/qm-drain/qm-drain-3.jpg")
			