extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-category
		.header-image(style="background-image:url(./img/recubrimientos-header.jpg);")
			h3 recubrimientos
		.marcas-grid
			.col13
				a(href="./castel")
					.container
						img(src="img/marcas/castel.jpg").marca
						a(href="castel.html")
							img(src="img/marcas/castel.png").logo
			.col13
				a(href="./vitromex")
					.container
						img(src="img/marcas/vitromex.jpg").marca
						img(src="img/marcas/vitromex.png").logo
			.col13
				a(href="./tendenzza")
					.container
						img(src="img/marcas/tendenzza.jpg").marca
						img(src="img/marcas/tendenzza.png").logo
			.col13
				a(href="./saniker")
					.container
						img(src="img/marcas/saniker.jpg").marca
						img(src="img/marcas/saniker.png").logo
			.col13
				a(href="./dune")
					.container
						img(src="img/marcas/dune.jpg").marca
						img(src="img/marcas/dune.png").logo
			.col13
				a(href="./artexa")
					.container
						img(src="img/marcas/artexa.jpg").marca
						img(src="img/marcas/artexa.png").logo
			.col13
				a(href="./tau")
					.container
						img(src="img/marcas/tau.jpg").marca
						img(src="img/marcas/tau.png").logo
			.col13
				a(href="./gante")
					.container
						img(src="img/marcas/gante.jpg").marca
						img(src="img/marcas/gante.png").logo
			.col13
				a(href="./lalur")
					.container
						img(src="img/marcas/lalur-1.jpg").marca
						img(src="img/marcas/lalur.jpg").logo