extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/rinnai/rinnai-header.jpg);")
			img(src="img/marcas/rinnai.png")
		.description
			p RINNAI es una marca japonesa, líder en tecnología de calentadores instantáneos de agua que ofrecen al usuario la disposición continua e inagotable de agua caliente. Actualmente tiene más de 30 millones de instalaciones de calentadores de agua en el mundo. Sus compactas dimensiones facilitan su instalación en cualquier pared de interior o exterior ahorrando gran espacio.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/rinnai/rinnai-1.jpg")
			.col13
				img(src="img/marcas/rinnai/rinnai-2.jpg")
			.col13
				img(src="img/marcas/rinnai/rinnai-3.jpg")
			