extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/saniker/saniker-header.jpg);")
			img(src="img/marcas/saniker/saniker-logo.png")
		.description
			p.center Con más de 12 años de experiencia en el mercado de los recubrimientos SANIKER es una compañía 100% mexicana que se dedica a la importación de productos cerámicos, porcelánicos y mosaicos.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!

		.gallery
			.col13
				img(src="img/marcas/saniker/Saniker1.jpg")
			.col13
				img(src="img/marcas/saniker/Saniker2.jpg")
			.col13
				img(src="img/marcas/saniker/Saniker3.jpg")
			.col13
				img(src="img/marcas/saniker/Saniker4.jpg")
			.col13
				img(src="img/marcas/saniker/Saniker5.jpg")
			.col13
				img(src="img/marcas/saniker/Saniker6.jpg")
			.col13
				img(src="img/marcas/saniker/Saniker7.jpg")
			.col13
				img(src="img/marcas/saniker/Saniker8.jpg")
			.col13
				img(src="img/marcas/saniker/Saniker9.jpg")
			.col13
				img(src="img/marcas/saniker/Saniker10.jpg")
			