extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/stanza/stanza-header.jpg);")
			img(src="img/marcas/stanza.png")
		.description
			p STANZA® es la alianza estratégica con los principales fabricantes de Italia que ofrece interiorismo en salas de baño para el segmento premium del mercado.<br><br>Stanza fabrica sus productos bajo estrictas especificaciones internas de calidad y garantiza al comprador original que el producto está libre de defectos de fabricación en materiales y mano de obra. 
		.gallery
			.col13
				img(src="img/marcas/stanza/stanza-1.jpg")
			.col13
				img(src="img/marcas/stanza/stanza-2.jpg")
			.col13
				img(src="img/marcas/stanza/stanza-3.jpg")
			