extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/steamist/steamist-header.jpg);")
			img(src="img/marcas/steamist.png")
		.description
			p.center TEAMIST tiene más de 50 años fabricando generadores de vapor de lujo para áreas residenciales y comerciales aplicando una tecnología sofisticada para tomar el lujo y los beneficios de un baño de vapor en casa a nuevos niveles, que mejoran la experiencia del vapor.<br>Además, cuenta con las “Opciones de Spa” que pueden añadir la experiencia sensorial y los beneficios terapéuticos de la cromoterapia, aromaterapia y audioterapia.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/steamist/steamist-1.jpg")
			.col13
				img(src="img/marcas/steamist/steamist-2.jpg")
			.col13
				img(src="img/marcas/steamist/steamist-3.jpg")
			