extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/stiebel-eltron/stiebel-eltron-header.jpg);")
			img(src="img/marcas/stiebel-eltron.png")
		.description
			p.center STIEBEL ELTRON es el fabricante más grande de calentadores de agua de Alemania y el mayor en calentadores eléctricos sin tanque del mundo. Los equipos están reconocidos por su calidad innovación e ingeniería superior. El enfoque principal de la marca es el diseño y desarrollo de equipos de alta eficiencia energética, con los más altos estándares de seguridad y precisión.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col12
				img(src="img/marcas/stiebel-eltron/stiebel-eltron-1.jpg")
			.col12
				img(src="img/marcas/stiebel-eltron/stiebel-eltron-2.jpg")
			