extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/stona/stona-header.jpg);")
			img(src="img/marcas/stona.png")
		.description
			p.center STONA es majestuosidad natural que recrea colores, texturas y modelos de piedra tomados fielmente de ambientes naturales. Piedra inspirada en paisajes vivos. 
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/stona/Stona1.jpg")
			.col13
				img(src="img/marcas/stona/Stona2.jpg")
			.col13
				img(src="img/marcas/stona/Stona3.jpg")
			.col13
				img(src="img/marcas/stona/Stona4.jpg")
			