extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/tendenzza/tendenzza-header.jpg);")
			img(src="img/marcas/tendenzza.png")
		.description
			p TENDENZZA es una marca con presencia en el mercado nacional e internacional desde hace 9 años, poniendo a tu alcance tendencias europeas a través de diseños vanguardistas, permitiendo crear proyectos que transmiten confort y distinción, siempre buscando la continua evolución en el mundo de los recubrimientos, con productos innovadores, elegantes y de gran calidad.
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!

		.gallery
			.col13
				img(src="img/marcas/tendenzza/tendenzza-1.jpg")
			.col13
				img(src="img/marcas/tendenzza/tendenzza-2.jpg")
			.col13
				img(src="img/marcas/tendenzza/tendenzza-3.jpg")
			