extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/totalshower/totalshower-header.jpg);")
			img(src="img/marcas/totalshower.png")
		.description
			p TOTALSHOWER es una marca especializada en el diseño y comercialización de productos innovadores para cuartos de baño; reinventando la manera de tomar una ducha al ofrecer productos novedosos y sofisticados, que cumplen con los más altos estándares de calidad los cuales brindan a nuestros usuarios una experiencia única.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms! 
		.gallery
			.col13
				img(src="img/marcas/totalshower/Totalshower1.jpg")
			.col13
				img(src="img/marcas/totalshower/Totalshower2.jpg")
			.col13
				img(src="img/marcas/totalshower/Totalshower3.jpg")
			.col13
				img(src="img/marcas/totalshower/Totalshower4.jpg")
			.col13
				img(src="img/marcas/totalshower/Totalshower5.jpg")
			.col13
				img(src="img/marcas/totalshower/Totalshower6.jpg")
			.col13
				img(src="img/marcas/totalshower/Totalshower7.jpg")
			.col13
				img(src="img/marcas/totalshower/Totalshower8.jpg")
		.space
		