extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/urrea/urrea-header.jpg);")
			img(src="img/marcas/urrea.png")
		.description
			p URREA es una empresa mexicana con más de 100 años ofreciendo soluciones para el disfrute responsable del agua. Su amplia gama de productos brinda un equilibrio perfecto entre tecnología, diseño y sustentabilidad, con diversas opciones de grifería, muebles de baño y accesorios para baño. 
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/urrea/urrea-1.jpg")
			.col13
				img(src="img/marcas/urrea/urrea-2.jpg")
			.col13
				img(src="img/marcas/urrea/urrea-3.jpg")
		