extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/victoria-albert/victoria-albert-header.jpg);")
			img(src="img/marcas/victoria-albert.png")
		.description
			p.center VICTORIA + ALBERT BATHS es una marca británica con reputación a nivel internacional dedicada a la creación de bañeras y lavabos independientes con belleza.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!
		.gallery
			.col13
				img(src="img/marcas/victoria-albert/Victoria1.jpg")
			.col13
				img(src="img/marcas/victoria-albert/Victoria2.jpg")
			.col13
				img(src="img/marcas/victoria-albert/Victoria3.jpg")
			.col13
				img(src="img/marcas/victoria-albert/Victoria4.jpg")
			.col13
				img(src="img/marcas/victoria-albert/Victoria5.jpg")
			.col13
				img(src="img/marcas/victoria-albert/Victoria6.jpg")
			.col13
				img(src="img/marcas/victoria-albert/Victoria7.jpg")
			.col13
				img(src="img/marcas/victoria-albert/Victoria8.jpg")
			.col13
				img(src="img/marcas/victoria-albert/Victoria9.jpg")
			