extends _layout.jade
block vars
	- var bodyClass = 'home'
block content
	section.single-mark
		.header-image(style="background-image:url(img/marcas/vitromex/vitromex-header.jpg);")
			img(src="img/marcas/vitromex.png")
		.description
			p VITROMEX es una compañía Mexicana de manufactura de pisos y mosaicos de cerámica y porcelana de alta calidad. Cuando estás por decorar o renovar tu casa, es importante que la versatilidad, sofisticación y originalidad se fusionen para dar el resultado que esperas y lograr un espacio justo como lo imaginas.
			br
			p.center.tag ¡Ven a conocerlos a nuestros showrooms!

		.gallery
			.col13
				img(src="img/marcas/vitromex/vitromex-1.jpg")
			.col13
				img(src="img/marcas/vitromex/vitromex-2.jpg")
			.col13
				img(src="img/marcas/vitromex/vitromex-3.jpg")
		